@model AerolineasSelectasDelBajioWeb_Entities.Airplane

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro que deseas eliminar?</h3>
<div>
    <h4>Avión</h4>
    <hr />
    <dl class="row">
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.AirplaneName)
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.AirplaneName)
      </dd>
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.AirplaneNplaces)
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.AirplaneNplaces)
      </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AirplaneId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
